# A workflow is composed of one or more Jobs that can be executed sequentially or in parallel
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    # The type of runner the job will run on
    runs-on: ubuntu-18.04
    # Steps represent the sequence of tasks using the shell runners that will be run on as part of the Job
    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8       
    # Step to Install the NDK
    - name: Install NDK
      run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;21.3.6528147"
    # Step to Build the Project and generate the APK
    - name: build debug apk
      run: ./gradlew build
